<%= link_to "Create new flat", new_flat_path %>
<div class="container">
<% @flats.each do |flat| %>
  <div class="card" style="width: 200px;">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.address %></p>
      <p class="card-text">Price: <%= flat.price_per_night %></p>
      <p class="card-text">Guests: <%= flat.number_of_guests %></p>
      <%= link_to "View more info", flat_path(flat) %>
      <%= link_to "Edit flat", edit_flat_path(flat) %>
      <%= link_to "Delete flat", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>
</div>
